<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name=".AgentService"
            android:exported="true"
            tools:replace="android:exported" />
    </application>
</manifest>
