registry=https://registry.npmjs.org/
strict-peer-dependencies=false
save-prefix=''
save-workspace-protocol=rolling
ignore-compatibility-db=true
use-lockfile-v6=true
puppeteer_download_base_url=https://cdn.npmmirror.com/binaries/chrome-for-testing