@main-text: #3b3b3b;

@primary-color: #06b1ab;
@main-orange: #F9483E;

@side-bg: #F8F8F8;
@title-bg: @side-bg;
@border-color: #E5E5E5;
@heavy-border-color: #888;

@selected-bg: #bfc4da80;
@hover-bg: #dcdcdc80;

@weak-bg: #F3F3F3;
@weak-text: #777;
@footer-text: #CCC;

@toolbar-btn-bg: #E9E9E9;

@layout-space: 20px;

@side-horizontal-padding: 10px;
@side-vertical-spacing: 10px;


@layout-extension-space-horizontal: 20px;
@layout-extension-space-vertical: 30px;
