@main-blue: #06B1AB;
@sub-blue: #A3D6D2;

@main-orange: #F9483E;

@side-bg: #ECECEC;
@title-bg: #DDDDDD;
@border-color: #CCCCCC;
@heavy-border-color: #888;

@selected-bg: @main-blue;
@selected-text: #ffffff;
@hover-bg: @sub-blue;
@hover-text: #333;


@weak-text: #777;
@weak-bg: #F3F3F3;

@side-horizontal-padding: 10px;
@side-vertical-spacing: 10px;
