@import './common.less';

.task-list-name {
  padding: 2px @side-horizontal-padding;
  font-weight: bold;
  background: @title-bg;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;
  // box-shadow: 1px 1px 5px @border-color;
  margin-top: -1px;
}