.nav {
    /* display: flex;
    justify-content: center; */
    max-width: 680px;
    margin: 20px 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.test-result {
    margin-top: 40px;
}


.test-details {
    margin-top: -1px;
    cursor: pointer;
    padding: 20px;
    border-top: 1px solid #ccc;
}
.test-details:hover {
    background-color: #d3d3d3;
}

.test-info {
    display: flex;
}
.test-name{
    flex-grow: 1;
    font-weight: bold;
    font-size: medium;
}

.failed{
    font-size: small;
}
.test-file-path {
    color: #6e7781;
    margin-top: 10px;
}