.test-result {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.test-summary {
  margin-bottom: 20px;
}

.test-summary div {
  margin: 5px 0;
}

.test-project,
.test-file,
.test-status,
.test-time {
  font-weight: bold;
}

.test-status.failed {
  color: red;
}

.test-details {
  margin-top: 20px;
}

.test-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.test-duration {
  color: #555;
}

.ant-collapse-content-box {
  padding: 0!important;
}