@import './common.less';

.report-overview {
  background: @title-bg;

  .title-header {
    padding: 0px 20px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-main-name {
    font-size: 14px;
    font-weight: 600;
    color: @main-text;
  }

  .pro-mode-section {
    display: flex;
    align-items: center;
    gap: 8px;

    .pro-mode-label {
      font-size: 12px;
      color: @main-text;
    }
  }

  .env-info-card {
    padding: 0px 20px;

    .env-info-title {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
      color: @weak-text;
    }

    .env-info-content {
      padding-bottom: 6px;

      .env-info-row {
        display: flex;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }

        .env-label {
          color: @weak-text;
          font-size: 14px;
          width: 65px;
          flex-shrink: 0;
        }

        .env-value {
          color: @main-text;
          font-size: 14px;
          flex: 1;
        }
      }
    }
  }

  .section-separator {
    height: 1px;
    background-color: @border-color;
  }
}